/*header*/
.navbar{
  background-color: deepskyblue;
}
.text-principal {
  font-weight: bold;
  color: #2D1E2F;
  margin-top: .5%;
  float: left;
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}
#btnIndication{
 margin-left: 30%;
 margin-top: 30%;
}

.form-group{
  margin-top: 2%;
}
.btn-warning{
  margin-top: 2%;
  margin-left: 4%;
}

#map{
  margin-top: 3%;
  width: 80%;
  height: 70vh;
  margin-left: 9%;
  border: 1px solid black;
}

/*Footer*/
.footer1 a {
  color: #DDD;
  font-size: 2rem;

}

.footer1 a:hover,
.footer1 a:focus,
.footer1 a:active {
  color: #FFF;
}

.footer1 .footer {
  padding: 27px 0;
}

.footer1 .footer{
  color: black;
  margin: 15px 0 8px;
 
}

.footer1 .footer .social{
  margin: 0 auto;
  display: table;
}
.social2{
  margin-right: 15%;
}

div.footer {
margin-top: 5%;
background-color: deepskyblue;
}

